# Default for all
* text=auto

*.md text diff=markdown eol=crlf
*.py text diff=python eol=lf

*.sh text diff=sh eol=lf
*.ps1 text working-tree-encoding=UTF-16LE eol=CRLF

# Git attributes
.gitignore text eol=lf
.gitattributes text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore